@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/APICall.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/ProgressBarWindows.css" rel="stylesheet" />


<div class="jumbotron">
    <input type="button" value="API Call" id="btnAPICall" />
</div>

<div id="Fade_area" class="overlay"></div>

<div id="myModal" class="popup">

    @Html.Partial("~/Views/Shared/_Popup.cshtml")
</div>

